<!doctype html>
<html class="theme-next muse use-motion">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta http-equiv="Cache-Control" content="no-transform" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link href="/vendors/fancybox/source/jquery.fancybox.css?v=2.1.5" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lato:300,300italic,400,400italic,700,700italic&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link href="/vendors/font-awesome/css/font-awesome.min.css?v=4.4.0" rel="stylesheet" type="text/css" />
    <link href="/css/main.css?v=5.0.1" rel="stylesheet" type="text/css" />
    <meta name="keywords" content="Hexo, NexT" />
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico?v=5.0.1" />
    <meta name="description" content="{{description}}">

    <script type="text/javascript" id="hexo.configuration">
        var NexT = window.NexT || {};
        var CONFIG = {
            scheme: 'Muse',
            sidebar: {"position":"left","display":"post"},
            fancybox: true,
            motion: true,
            duoshuo: {
                userId: 0,
                author: '博主'
            }
        };
    </script>
    <link rel="canonical" href="https://mxxim.com/"/>
    <title>{{title}}</title>
</head>
<body itemscope itemtype="http://schema.org/WebPage" lang="zh-Hans">
<div class="container one-collumn sidebar-position-left
   page-home
 ">
    <div class="headband"></div>

    <header id="header" class="header" itemscope itemtype="http://schema.org/WPHeader">
        <div class="header-inner"><div class="site-meta ">


            <div class="custom-logo-site-title">
                <!--<a href="/"  class="brand" rel="start">-->
                <a href="javascript:void(0);"  class="brand" rel="start">
                    <span class="logo-line-before"><i></i></span>
                    <span class="site-title">{{title}}</span>
                    <span class="logo-line-after"><i></i></span>
                </a>
            </div>
            <p class="site-subtitle">{{description}}</p>
        </div>

            <div class="site-nav-toggle">
                <button>
                    <span class="btn-bar"></span>
                    <span class="btn-bar"></span>
                    <span class="btn-bar"></span>
                </button>
            </div>

            <nav class="site-nav">
                <ul id="menu" class="menu">

                    {{#each navs}}
                        <li class="menu-item menu-item-home">
                            <a href="{{url}}" rel="section">
                                <i class="menu-item-icon fa fa-fw {{icon}}"></i> <br />
                                {{name}}
                            </a>
                        </li>
                    {{/each}}
                </ul>
            </nav>
        </div>
    </header>

    <main id="main" class="main">
        <div class="main-inner">
            <div class="content-wrap">
                <div id="content" class="content">

                    <section id="posts" class="posts-expand">
                        {{#each articles}}
                            <article class="post post-type-normal " itemscope itemtype="http://schema.org/Article">
                                <header class="post-header">
                                    <h1 class="post-title" itemprop="name headline">
                                        <a class="post-title-link" href="{{url}}" itemprop="url">
                                            {{title}}
                                        </a>
                                    </h1>
                                    <div class="post-meta">
                                      <span class="post-time">
                                        <span class="post-meta-item-icon">
                                          <i class="fa fa-calendar-o"></i>
                                        </span>
                                        <span class="post-meta-item-text">发表于</span>
                                        <time itemprop="dateCreated" datetime="2017-09-05T19:38:18+08:00" content="{{date}}">
                                          {{date}}
                                        </time>
                                      </span>
                                        {{#if cate}}
                                            <span class="post-category" >
                                          &nbsp; | &nbsp;
                                          <span class="post-meta-item-icon">
                                            <i class="fa fa-folder-o"></i>
                                          </span>
                                            <span class="post-meta-item-text">分类于</span>
                                            <span itemprop="about" itemscope itemtype="https://schema.org/Thing">
                                              <a href="/categories/Docker/" itemprop="url" rel="index">
                                                <span itemprop="name">{{cate}}</span>
                                              </a>
                                            </span>
                                        </span>
                                        {{/if}}
                                        <span class="post-author">
                                        &nbsp; | &nbsp;
                                        <span class="post-meta-item-icon">
                                            <i class="fa fa-user"></i>
                                        </span>
                                        <span class="post-meta-item-text">作者</span>
                                       <span>{{author}}</span>
                                    </span>
                                    </div>
                                </header>
                                <!--<div class="post-body" itemprop="articleBody">-->
                                <!--<h2 id="HTTP协议"><a href="#HTTP协议" class="headerlink" title="HTTP协议"></a>HTTP协议</h2><p>关于HTTP协议的介绍，可以参考文章：<a href="http://www.ruanyifeng.com/blog/2016/08/http.html">HTTP 协议入门 - 阮一峰的网络日志</a></p>-->
                                <!--<h3 id="HTTP-1-1和HTTP-1-0的区别"><a href="#HTTP-1-1和HTTP-1-0的区别" class="headerlink" title="HTTP/1.1和HTTP/1.0的区别"></a>HTTP/1.1和HTTP/1.0的区别</h3><p>&emsp;1.  <strong>新增方法</strong> <code>PUT</code>、<code>PATCH</code>、<code>HEAD</code>、<code>OPTIONS</code>、<code>DELETE</code>  。<br>&emsp;2. <strong>请求头新增Host字段</strong> 用来指定服务器的域名，有个该字段，就可以将请求发往同一台服务器上的不同网站，为虚拟主机的兴起打下了基础。请求消息中如果没有Host头域会报告一个错误（400 Bad Request）。<br>&emsp;3. <strong>持久连接</strong> HTTP1.1默认使用长连接。即TCP连接默认不关闭，可以被多个请求复用，不像HTTP1.0需要声明<code>Connection: keep-alive</code>。当连接一段时间未使用时，则自动关闭。<br>&emsp;4. <strong>管道机制</strong> HTTP1.1引入管道机制（pipelining）。即在同一个TCP连接里面，客户端可以<strong>同时发送</strong>多个请求，不过服务器还是按照顺序，先响应A请求，完成后再响应B请求。以前是在同一个TCP连接中，先发送A请求，等服务做出响应后，再发送B请求。（如果A需要处理很长时间，则会阻塞，HTTP/2 能解决这个问题）<br>&emsp;5.  <strong>响应头新增Content-Length字段</strong> 由于一个TCP连接可以传送多个响应，所以需要该字段来声明本次响应的数据长度来区分数据包是属于哪一个响应的。<br>&emsp;6.  <strong>支持分块传输编码</strong><br>&emsp;7.  <strong>缓存处理</strong> 在HTTP1.0中主要使用header里的If-Modified-Since,Expires来做为缓存判断的标准，HTTP1.1则引入了更多的缓存控制策略例如Entity tag，If-Unmodified-Since, If-Match, If-None-Match等更多可供选择的缓存头来控制缓存策略。<br>&emsp;8.  <strong>带宽优化及网络连接的使用</strong> HTTP1.0中，存在一些浪费带宽的现象，例如客户端只是需要某个对象的一部分，而服务器却将整个对象送过来了，并且不支持断点续传功能，HTTP1.1则在请求头引入了range头域，它允许只请求资源的某个部分，即返回码是206（Partial Content），这样就方便了开发者自由的选择以便于充分利用带宽和连接。<br>&emsp;9.  <strong>错误通知的管理</strong> 在HTTP1.1中新增了24个错误状态响应码，如409（Conflict）表示请求的资源与资源的当前状态发生冲突；410（Gone）表示服务器上的某个资源被永久性的删除。<br>-->
                                <!--<div class="post-more-link text-center">-->
                                <!--<a class="btn" href="/2017/09/05/compare-http-and-https/#more" rel="contents">-->
                                <!--阅读全文 &raquo;-->
                                <!--</a>-->
                                <!--</div>-->
                                <!--</div>-->

                                <footer class="post-footer">
                                    <div class="post-eof"></div>
                                </footer>
                            </article>
                        {{/each}}
                    </section>
                </div>
            </div>
            <div class="sidebar-toggle">
                <div class="sidebar-toggle-line-wrap">
                    <span class="sidebar-toggle-line sidebar-toggle-line-first"></span>
                    <span class="sidebar-toggle-line sidebar-toggle-line-middle"></span>
                    <span class="sidebar-toggle-line sidebar-toggle-line-last"></span>
                </div>
            </div>

            <aside id="sidebar" class="sidebar">
                <div class="sidebar-inner">
                    <section class="site-overview sidebar-panel  sidebar-panel-active ">
                        <div class="site-author motion-element" itemprop="author" itemscope itemtype="http://schema.org/Person">
                            <img class="site-author-image" itemprop="image"
                                 src="/images/avatar.jpg"
                                 alt="{{author}}" />
                            <p class="site-author-name" itemprop="name">{{author}}</p>
                            <p class="site-description motion-element" itemprop="description">{{description}}</p>
                        </div>
                        <nav class="site-state motion-element">
                            <div class="site-state-item site-state-posts">
                                <a href="/archives">
                                    <span class="site-state-item-count">{{articlesCount}}</span>
                                    <span class="site-state-item-name">日志</span>
                                </a>
                            </div>
                        </nav>

                        <div class="links-of-author motion-element">
                            <span class="links-of-author-item">
                                <a href="https://github.com/gogank/papillon" target="_blank" title="Github">
                                    <i class="fa fa-fw fa-globe"></i>
                                    Github
                                 </a>
                            </span>
                        </div>
                    </section>
                </div>
            </aside>
        </div>
    </main>

    <footer id="footer" class="footer">
        <div class="footer-inner">
            <div class="copyright" >
                &copy;
                <span itemprop="copyrightYear">2017</span>
                <span class="with-love">
                    <i class="fa fa-heart"></i>
                </span>
                <span class="author" itemprop="copyrightHolder">{{author}}</span>
            </div>
            <div class="powered-by">
                由 <a class="theme-link" href="https://hexo.io">Hexo</a> 强力驱动
            </div>
            <div class="theme-info">
                主题 -
                <a class="theme-link" href="https://github.com/iissnan/hexo-theme-next">
                    NexT.Muse
                </a>
            </div>
        </div>
    </footer>

    <div class="back-to-top">
        <i class="fa fa-arrow-up"></i>
    </div>
</div>
<script type="text/javascript">
    if (Object.prototype.toString.call(window.Promise) !== '[object Function]') {
        window.Promise = null;
    }
</script>
<script type="text/javascript" src="/vendors/jquery/index.js?v=2.1.3"></script>
<script type="text/javascript" src="/vendors/fastclick/lib/fastclick.min.js?v=1.0.6"></script>
<script type="text/javascript" src="/vendors/jquery_lazyload/jquery.lazyload.js?v=1.9.7"></script>
<script type="text/javascript" src="/vendors/velocity/velocity.min.js?v=1.2.1"></script>
<script type="text/javascript" src="/vendors/velocity/velocity.ui.min.js?v=1.2.1"></script>
<script type="text/javascript" src="/vendors/fancybox/source/jquery.fancybox.pack.js?v=2.1.5"></script>
<script type="text/javascript" src="/js/src/utils.js?v=5.0.1"></script>
<script type="text/javascript" src="/js/src/motion.js?v=5.0.1"></script>
<script type="text/javascript" src="/js/src/bootstrap.js?v=5.0.1"></script>
<script src="/vendors/ua-parser-js/dist/ua-parser.min.js?v=0.7.9"></script>
<script src="https://cdn1.lncld.net/static/js/av-core-mini-0.6.1.js"></script>
<script>AV.initialize("m0IfQzPYYxaABrFqSCl9CoGt-gzGzoHsz", "kkVC4T7rhevEl2pYUx4wkFfw");</script>
</body>
</html>